/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .Item {
    width: 50%;
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
  }


  .heading h2 {
    font-size: 20px;
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  .Item {
    width: 100%;
  }

  .header-right {
    float: right;
    margin-right: 5px;
  }

  .header-right a {
    line-height: 65px;
    font-size:14px;
    padding: 0 8px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }

  .btn {
    width: 70%;

  }



}
